<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.androidedu.datapersistance">

    <!-- TODO (1) .MainActivity'e launchMode="singleTop" tanimla. Bunun sebebi, SettingsActivity'den geri donuste, yeni bir MainActivity olusturmamasini garanti etmek icin. -->
    <!-- TODO (2) SettingsActivity olusturulur. parentActivityName=".MainActivity" verilir. -->
    <!-- TODO (3) meta-data olusturulup key-value pair atanir. Bundan daha sonra bahsedecegiz. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.sql.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sharedpref.MainActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".ui.sharedpref.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.sharedpref.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.sharedpref.MainActivity" />
        </activity>
    </application>

</manifest>